.articles {
  margin-top: 20px;

  .btn-new {
    position: absolute;
    right: 20px;
    margin-top: 5px;
  }
}

.filter-section {
  margin-bottom: 30px;
}

.card {
  max-width: 300px;
  min-width: 300px;
  margin-bottom: 20px;

  @media (max-width: 670px) {
    max-width: 100%;
  }
}

.min-h-50 {
  min-height: 50px;
}
