.articles {
  padding-top: 30px;

  .btn-new {
    position: absolute;
    right: 20px;
    margin-top: 5px;
  }
}

.filter-section {
  margin-bottom: 30px;

  #category {
    width: auto;
    display: inline-block;
  }


}

.card {
  max-width: 300px;
  min-width: 250px;
  margin-bottom: 20px;
}
