<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 25, 100]">
</mat-paginator>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef>{{'covid.table.country' | translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
  </ng-container>

  <ng-container matColumnDef="casesTotal">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'covid.table.totalCases' | translate}}</th>
    <td mat-cell *matCellDef="let element"> {{element.casesTotal}} </td>
  </ng-container>

  <ng-container matColumnDef="casesNew">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'covid.table.newCases' | translate}}</th>
    <td mat-cell *matCellDef="let element">
      <span class="badge badge-warning">{{element.casesNew}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="recoveredTotal">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'covid.table.totalRecovered' | translate}}</th>
    <td mat-cell *matCellDef="let element"> {{element.recoveredTotal}} </td>
  </ng-container>

  <ng-container matColumnDef="recoveredNew">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'covid.table.newRecovered' | translate}}</th>
    <td mat-cell *matCellDef="let element">
      <span class="badge badge-success">{{element.recoveredNew}} </span></td>
  </ng-container>

  <ng-container matColumnDef="deathsTotal">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'covid.table.totalDeaths' | translate}}</th>
    <td mat-cell *matCellDef="let element"> {{element.deathsTotal}}</td>
  </ng-container>

  <ng-container matColumnDef="deathsNew">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'covid.table.newDeaths' | translate}} </th>
    <td mat-cell *matCellDef="let element">
      <span class="badge badge-danger">{{element.deathsNew}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> {{'covid.table.date' | translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.date | date:'dd/MM/yyyy hh:mm:ss'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="./{{row.countryCode}}"></tr>
</table>
