.nav-link.active {
  border-bottom: 2px solid #060652;
}

.fixed-top {
  z-index: 1000;
}

.dropdown:hover {
  text-transform: none;
  cursor: pointer;

  >.dropdown-menu {
    display: block;
    top: 28px;
  }
}

.list-lang {
  width: 60px;
}

.lang {
  width: 24px;
  height: 16px;
}
