#notfound {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

  .notfound {
    .notfound-404 {
      height: 90px;

      h1 {
        font-size: 100px;
        font-weight: 600;
        color: #68b8e126;
      }

      h2 {
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 20px;
        margin-top: 0px;
      }

    }
  }
}
