<div class="position-relative">
  <img [src]="article?.photo" class="article-Image" alt="Card image cap" />
  <div class="view-counts">
    <span>{{ article?.view }} {{'article.view' | translate}} |</span>
    <span> {{ article?.like }} {{'article.actions.like' | translate}}</span>
  </div>
</div>

<div class="card-body">
  <h2 class="card-title">{{ article?.titre }}</h2>
  <p class="card-text">
    {{ article?.content | minimiseText: 200 }}
    <a [routerLink]="'/articles/' + article?.id"> {{'article.actions.readmore' | translate}}e</a>
  </p>
</div>
<div class="card-footer">
  <small class="text-muted">
    Last updated {{ gettimeFromNow(article?.creatAt) }}
  </small>
  <div class="btn-crud">
    <button class="btn btn-sm btn-link" routerLink="/edit-article/{{ article?.id }}">
      {{'article.actions.edit' | translate}}
    </button>
    <button class="btn btn-sm btn-link text-danger" (click)="openModal()">
      {{'article.actions.delete' | translate}}
    </button>
  </div>
</div>
