.article-details {

  >.article-details__titre {
    font-size: 30px;
    color: rgb(250, 194, 194);
    margin-bottom: 20px;
  }

  >.article-details__image {
    display: block;
    width: 450px;
    height: 240px;
    margin-bottom: 20px;
  }

  >.article-details__text {
    font-size: 18px;
  }

  >.article-details__date {
    font-size: 15px;
    font-style: italic;
    margin-bottom: 30px;
  }
}
