<div class="row">
  <div class="col-md-12 mt-3">
    <h1>Last Articles{{'article.lastArticle' | translate}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-5 col-lg-5">
    <div class="featured-article">
      <a routerLink="/articles/{{articles[0]?.id}}">
        <img [src]="articles[0]?.photo" alt="" />
      </a>
      <div class="block-title">
        <h2>{{articles[0]?.titre}}</h2>
        <p class="description"><small>{{articles[0]?.content | minimiseText:100}}</small></p>
      </div>
    </div>
  </div>

  <div class="col-md-7 col-lg-7">
    <ul class="main-list">
      <li class="media" *ngFor="let item of articles.slice(1,4)">
        <a routerLink="/articles/{{item?.id}}">
          <img [src]="item?.photo" alt="..." />
        </a>
        <div class="media-body">
          <h3>{{item?.titre}}</h3>
          <p class="description">{{item?.content |  minimiseText:100}}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
